<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.passerbywhu.study" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".touchstudy.dragstudy.SimpleDragLayoutActivity" >
        </activity>
        <activity android:name=".touchstudy.dragstudy.DragSideMenuActivity" >
        </activity>
        <activity android:name=".contentproviderstudy.DictionaryProviderStudy" >
        </activity>
        <activity android:name=".EntranceActivity" >
        </activity>
        <activity android:name=".touchstudy.dragstudy.GetViewTestActivity" />
        <activity android:name=".singletonstudy.SingletonWeakTest" >
        </activity>
        <activity android:name=".butterknifestudy.SimpleActivity" >
        </activity>
        <activity android:name=".daggerstudy.simple.ui.HomeActivity" >
        </activity>
        <activity android:name=".daggerstudy.coffee.CoffeeAppActivity" >
        </activity>
        <activity android:name=".canvasstudy.ShapeDrawableActivity" >
        </activity>
        <activity android:name=".common.activity.BaseActivity" />
        <activity android:name=".common.activity.BaseListActivity" >
        </activity>
        <activity android:name=".widgetstudy.edgeeffect.EdgeEffectStudy" >
        </activity>
        <activity
            android:name=".customviewstudy.onmeasure.OnMeasureLayoutActivity"
            android:configChanges="orientation" >
        </activity>
        <activity android:name=".customviewstudy.onmeasure.meausreinfo.MeasureInfoActivity" >
        </activity>
        <activity android:name=".touchstudy.dragstudy.dragsort.DragSortActivity" >
            <intent-filter>
                <action android:name="ANDROID.INTENT.ACTION.MAIN"></action>
                <category android:name="ANDROID.INTENT.CATEGORY.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".dynamicloadstudy.DynamicLoadActivity" >
        </activity>
        <activity android:name=".dynamicloadstudy.ProxyActivity" >
        </activity>
        <activity android:name=".touchstudy.pulltozoom.PullToZoomActivity">
        </activity>
        <activity android:name=".touchstudy.pulltozoom.PullToZoomInterceptActivity">
        </activity>
        <activity android:name=".shaderstudy.ReclineListViewActivity">
        </activity>
    </application>

</manifest>
